/* Boutons */
.superbutton {
	color: #ffffff !important;
	text-shadow: 1px 1px #819792;
	background-color: #819792;
	background-image: -moz-linear-gradient(top, #c7d2cf, #819792);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c7d2cf), to(#819792));
	background-image: -webkit-linear-gradient(top, #c7d2cf, #819792);
	background-image: -o-linear-gradient(top, #c7d2cf, #819792);
	background-image: linear-gradient(to bottom, #c7d2cf, #819792);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc7d2cf', endColorstr='#ff819792', GradientType=0);
	border-color: #819792 !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
	background-color: #819792;
	*background-color: #819792;
}

.superbutton:active,
.superbutton.active {
	background-color: #788c88;
}