a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#91e4e6}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#91e4e6}
blockquote,q{border-color:#91e4e6}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#91e4e6}
a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../img/frontoffice/superbutton.png) repeat-x center -601px transparent;border:1px solid #44a6ac;box-shadow:inset 0 1px 1px #91e4e6;text-shadow:1px 1px #44a6ac}
a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../img/frontoffice/superbutton.png) repeat-x center -630px transparent}
::-moz-selection{background:#91e4e6;color:#fff;text-shadow:none}
::selection{background:#91e4e6;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#91e4e6}
#ethernatable.catalogues tr.title th{background-color:#91e4e6;}
#ethernatable.catalogues.coup_coeur tr {border-color:#91e4e6;}
#ethernatable.catalogues.recherche tr {border-color:#91e4e6;}