.buildpath
.project
.idea/*
!empty
!.htaccess
_*.*
_*
_*/
*.cache
*.log
.settings/
EXPORT_PDF/
installed
configs/files/*.ini
configs/hooks/*.php
configs/hooks/elements/*.php
configs/hooks/files/
configs/hooks/helpers/*.php
configs/hooks/layouts/*.php
configs/hooks/views/*.php
/configs/plugins/*
!/configs/plugins/empty
/plugins/
tmp/backup_bdd/*.sql
tmp/upload/*
tmp/sessions/*
!tmp/sessions/empty
/views/hooks/*
!/views/hooks/empty
/views/elements/hooks/*
!/views/elements/hooks/empty
webroot/css/plugins/*
webroot/files/*
webroot/img/plugins/*
webroot/js/plugins/*
webroot/upload/*
!webroot/upload/_thumbs/empty
!webroot/upload/_thumbs/Files/empty
!webroot/upload/_thumbs/Flash/empty
!webroot/upload/_thumbs/Images/empty
!webroot/upload/files/empty
!webroot/upload/flash/empty
!webroot/upload/images/empty
webroot/plugins/*
webroot/templates/*
!webroot/templates/koezion
!webroot/templates/bo_adminlte