.buildpath
.project
!empty
!.htaccess
_*.*
_*/
*.cache
*.log
.settings/
EXPORT_PDF/
configs/files/*.ini
!configs/files/posts.ini
!configs/files/routes.ini
configs/forms/*.xml
plugins/
webroot/files/*
webroot/upload/*