#logo p{margin:0}
#header .search{margin:80px 10px 0 0}
#menu .search{margin:0 30px 0 0}
.search input[type=text]{width:139px;height:18px;margin:0;padding:6px 8px;outline:0;display:inline;float:left;font:13px/ 18px Arial,sans-serif;color:#555;background:url(../../../templates/koezion/img/search_field.png) no-repeat scroll 0 0 transparent;border:0;opacity:.5;filter:alpha(opacity = 50);zoom:1}
.search input[type=submit]{width:44px;height:30px;margin:0;padding:0;outline:0;display:inline;float:left;background:url(../../../templates/koezion/img/search_button.png) no-repeat scroll 0 0 transparent;border:0;opacity:.01;filter:alpha(opacity = 1);zoom:1}
h1.e404{margin:83px 30px 110px 40px}
.img_zoom{background:url(../../../templates/koezion/img/zoom.png) no-repeat center center transparent}
.min_height{min-height:500px}
#footer .gs_9,#footer .gs_8,#footer .gs_6,#footer .gs_5,#footer .gs_4,#footer .gs_2,#footer .gs_1{background:url(../../../templates/koezion/img/footer_sep.png) repeat-y top right transparent}
html pre{white-space:pre-wrap}
.post_holder{overflow:hidden}
#footer .gs_3{background:0}
.posts_comments{background:url(../../../templates/koezion/img/open-quote.gif) no-repeat 10px center;padding:10px 10px 10px 65px;background-color:white;margin-bottom:20px;border-radius:4px}
.posts_comments .post_message{margin-bottom:10px}
.posts_comments .post_name{margin-bottom:0;text-align:right;font-style:italic;font-size:11px}
p.post_source{font-size:8px;font-style:italic;}