a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#b56de5}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#b56de5}
blockquote,q{border-color:#b56de5}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#b56de5}
/*a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../templates/koezion/img/superbutton.png) repeat-x center -1081px transparent;border:1px solid #a35eaf;box-shadow:inset 0 1px 1px #e8acee;text-shadow: 1px 1px #a35eaf}*/
/*a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../templates/koezion/img/superbutton.png) repeat-x center -1110px transparent}*/
::-moz-selection{background:#b56de5;color:#fff;text-shadow:none}
::selection{background:#b56de5;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#b56de5}
#ethernatable.catalogues tr.title th{background-color:#b56de5;}
#ethernatable.catalogues.coup_coeur tr {border-color:#b56de5;}
#ethernatable.catalogues.recherche tr {border-color:#b56de5;}