a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#babc8e}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#babc8e}
blockquote,q{border-color:#babc8e}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#babc8e}
<<<<<<< HEAD
/*a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -1021px transparent;border:1px solid #6c6e4b;box-shadow:inset 0 1px 1px #babc8e;text-shadow: 1px 1px #6c6e4b}*/
/*a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -1050px transparent}*/
=======
a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -1021px transparent;border:1px solid #6c6e4b;box-shadow:inset 0 1px 1px #babc8e;text-shadow: 1px 1px #6c6e4b}
a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -1050px transparent}
>>>>>>> Commit MAI
::-moz-selection{background:#babc8e;color:#fff;text-shadow:none}
::selection{background:#babc8e;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#babc8e}
#ethernatable.catalogues tr.title th{background-color:#babc8e;}
#ethernatable.catalogues.coup_coeur tr {border-color:#babc8e;}
#ethernatable.catalogues.recherche tr {border-color:#babc8e;}