/* Boutons */
.superbutton {
	color: #ffffff !important;
	text-shadow: 1px 1px #36434a;
	background-color: #36434a;
	background-image: -moz-linear-gradient(top, #5b6f7b, #36434a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5b6f7b), to(#36434a));
	background-image: -webkit-linear-gradient(top, #5b6f7b, #36434a);
	background-image: -o-linear-gradient(top, #5b6f7b, #36434a);
	background-image: linear-gradient(to bottom, #5b6f7b, #36434a);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5b6f7b', endColorstr='#ff36434a', GradientType=0);
	border-color: #36434a !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
	background-color: #36434a;
	*background-color: #36434a;
}

.superbutton:active,
.superbutton.active {
	background-color: #323c41;
}