a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#7d96a4}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#7d96a4}
blockquote,q{border-color:#7d96a4}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#7d96a4}
<<<<<<< HEAD
/*a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -841px transparent;border:1px solid #36434a;box-shadow:inset 0 1px 1px #7d96a4;text-shadow: 1px 1px #36434a}*/
/*a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -870px transparent}*/
=======
a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -841px transparent;border:1px solid #36434a;box-shadow:inset 0 1px 1px #7d96a4;text-shadow: 1px 1px #36434a}
a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -870px transparent}
>>>>>>> Commit MAI
::-moz-selection{background:#7d96a4;color:#fff;text-shadow:none}
::selection{background:#7d96a4;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#7d96a4}
#ethernatable.catalogues tr.title th{background-color:#7d96a4;}
#ethernatable.catalogues.coup_coeur tr {border-color:#7d96a4;}
#ethernatable.catalogues.recherche tr {border-color:#7d96a4;}