#popup_container{background:#FFF;border:solid 2px #1c1c1c;min-width:300px;max-width:600px}
#popup_title{background:url(../../img/backoffice/back-title.gif) repeat-x left top;border:solid 1px #FFF;cursor:default;padding:0;margin:0;font:15px/2.0em;text-align:center;text-transform:uppercase;font-weight:normal;word-spacing:3px;height:31px;font-size:14px;line-height:31px;}
#popup_content{padding:20px;margin:0}
#popup_panel{text-align:center;height:39px}
#popup_message{text-align:center}
#popup_message .rowright{margin:0 12px 0 0}