button::-moz-focus-inner{border:0;padding:0;margin:0}
button{display:inline-block;border:0;outline:0;padding:0;margin:8px 3px 0 0;cursor:pointer;overflow:visible;width:auto;height:23px}
button span{float:left;padding:0 8px 0 4px;margin:0 0 0 4px;font:10px/23px Arial;font-weight:bold;color:#fff;text-transform:uppercase;white-space:nowrap;height:23px}
button.medium{height:31px}
button.medium span{padding:0 17px 0 13px;font:12px/31px Arial;text-transform:none;height:31px}
button.grey{background:url(../../img/backoffice/btn-small.gif) no-repeat left 0 transparent}
button.grey span{background:url(../../img/backoffice/btn-small.gif) no-repeat right 0 transparent;color:#1c1c1c}
button.black{background:url(../../img/backoffice/btn-small.gif) no-repeat left -23px transparent}
button.black span{background:url(../../img/backoffice/btn-small.gif) no-repeat right -23px transparent}
button.red{background:url(../../img/backoffice/btn-small.gif) no-repeat left -46px transparent}
button.red span{background:url(../../img/backoffice/btn-small.gif) no-repeat right -46px transparent}
button.orange{background:url(../../img/backoffice/btn-small.gif) no-repeat left -69px transparent}
button.orange span{background:url(../../img/backoffice/btn-small.gif) no-repeat right -69px transparent}
button.blue{background:url(../../img/backoffice/btn-small.gif) no-repeat left -92px transparent}
button.blue span{background:url(../../img/backoffice/btn-small.gif) no-repeat right -92px transparent}
button.green{background:url(../../img/backoffice/btn-small.gif) no-repeat left -115px transparent}
button.green span{background:url(../../img/backoffice/btn-small.gif) no-repeat right -115px transparent}
button.brown{background:url(../../img/backoffice/btn-small.gif) no-repeat left -138px transparent}
button.brown span{background:url(../../img/backoffice/btn-small.gif) no-repeat right -138px transparent}
button.purple{background:url(../../img/backoffice/btn-small.gif) no-repeat left -161px transparent}
button.purple span{background:url(../../img/backoffice/btn-small.gif) no-repeat right -161px transparent}
button.medium.grey{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left 0 transparent}
button.medium.grey span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right 0 transparent;color:#1c1c1c}
button.medium.black{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left -31px transparent}
button.medium.black span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right -31px transparent}
button.medium.red{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left -62px transparent}
button.medium.red span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right -62px transparent}
button.medium.orange{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left -93px transparent}
button.medium.orange span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right -93px transparent}
button.medium.blue{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left -124px transparent}
button.medium.blue span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right -124px transparent}
button.medium.green{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left -155px transparent}
button.medium.green span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right -155px transparent}
button.medium.brown{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left -186px transparent}
button.medium.brown span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right -186px transparent}
button.medium.purple{background:url(../../img/backoffice/buttons-medium.gif) no-repeat left -217px transparent}
button.medium.purple span{background:url(../../img/backoffice/buttons-medium.gif) no-repeat right -217px transparent}