form{display:block;margin:0;padding:0}
.row{display:block;border-top:1px solid #e5e5e5;padding:15px 20px}
label{float:left;padding:6px 0 0 0;margin:0;font-size:12px;color:#1c1c1c;cursor:text;width:200px}
.rowright{display:block;margin:0 12px 0 200px}
#right .box .content label.error{display:block;float:none;background:url(../../img/backoffice/icon-error.png) no-repeat 10px 7px #fccac1;border:1px solid #e18b7c;margin:0 0 5px;padding:5px 6px 4px 6px;text-indent:26px;color:#c33820;font:12px/1.6em Arial;width:auto}
#right .box .content label.error{margin:5px 0 0;width:100%}
input{display:inline-block;border:1px solid #c5c5c5;outline:0;padding:6px;margin:0;font:12px/15px Arial;color:#1c1c1c;width:100%;height:15px}
select{display:inline-block;border:1px solid #c5c5c5;outline:0;padding:6px;margin:0;font:12px/15px Arial;color:#1c1c1c;}
input.half-input{width:50%;}
input.third-input{width:30%;}
input.quarter-input{width:25%;}
.row.error input,.row.error textarea{border:1px solid #e18b7c}
.ui-selectmenu{display:inline-block;position:relative;background:url(../../img/backoffice/back-select.gif) no-repeat right top transparent;border:1px solid #c5c5c5;padding:0 32px 0 6px;margin:0 3px 0 0;text-decoration:none;overflow:hidden;outline:0;width:500px;height:27px}
.box .content .section .third .ui-selectmenu{
	width: -moz-calc(100% - 41px);
	width: -webkit-calc(100% - 41px);
	width: -o-calc(100% - 41px);
	width: calc(100% - 41px);	
}
.box .content .section .third .rowright .ui-selectmenu{
	width: -moz-calc(100% - 27px);
	width: -webkit-calc(100% - 27px);
	width: -o-calc(100% - 27px);
	width: calc(100% - 27px);	
}
.box .content .section .third label.error{
	width: -moz-calc(100% - 15px)!important;
	width: -webkit-calc(100% - 15px)!important;
	width: -o-calc(100% - 15px)!important;
	width: calc(100% - 15px)!important;	
}
.box .content .section .third .rowright label.error{
	width: 100%!important;	
}
a.ui-selectmenu{text-decoration:none}
.ui-selectmenu-menu{position:absolute;display:none;top:0;z-index:9999;background-color:#fff;border:1px solid #c5c5c5;padding:0;margin:1px 0 0 0;list-style:none;overflow:auto;width:538px;max-height:500px/*max-height:175px*/}
.ui-selectmenu-menu.select-thirdbox-submenu{width: 250px;}
.ui-selectmenu-group-label{
	background: #EBEBEB;
	display: block;
	font-weight: bold;
	padding: 5px;	
}
.ui-selectmenu-group-label + ul { padding-left: 0; }
.ui-selectmenu-group-label + ul li a { padding-left: 20px; }
.ui-selectmenu-open{display:block}
.ui-selectmenu-menu li{display:block;background:#fff;border-top:1px solid #e5e5e5;outline:0;padding:0;margin:0}
.ui-selectmenu-menu li:first-child{border-top:0}
.ui-selectmenu-menu li a,.ui-selectmenu-status{display:block;padding:8px;outline:0;overflow:hidden;font:12px/1.0em Arial;font-weight:100;cursor:pointer;color:#807f7f;text-decoration:none}
.ui-selectmenu-status{padding:0;font:12px/2.3em Arial;color:#1c1c1c}
.ui-selectmenu-menu li a:hover,li.ui-selectmenu-item-selected a{background:#f4f4f4;color:#1c1c1c}
.multiple{display:block;border:1px solid #c5c5c5;outline:0;padding:5px;cursor:text;font:12px/2em Arial;color:#1c1c1c;width:50%}
.spin,.spin-dec,.spin-cur{width:100px}
.ui-spinner{position:relative;display:block;width:100px}
.ui-spinner-buttons{position:absolute;margin:-1px 0 0 0}
.ui-spinner-button{overflow:hidden}
.ui-spinner-buttons .ui-spinner-up{background:url(../../img/backoffice/back-spinners.gif) no-repeat right top transparent;cursor:pointer;overflow:hidden;width:26px;height:14px}
.ui-spinner-buttons .ui-spinner-down{background:url(../../img/backoffice/back-spinners.gif) no-repeat right bottom transparent;cursor:pointer;overflow:hidden;width:26px;height:13px}
textarea{display:block;overflow:auto;border:1px solid #c5c5c5;outline:0;padding:6px;margin:0;cursor:text;resize:none;font:12px/1.42em Arial;color:#1c1c1c;width:100%}
table input[type=checkbox],table input[type=radio]{background:0;padding:0;border:0;width:13px;height:13px}
.custom-checkbox,.custom-radio{display:inline-block;position:relative;margin:7px 0 0 0}
.custom-checkbox:first-child,.custom-radio:first-child{margin:7px 0 0 0}
.custom-checkbox input,.custom-radio input{position:absolute;background:transparent;left:0;top:0;margin:0;z-index:-1;width:13px;height:13px}
.custom-checkbox label,.custom-radio label{display:inline-block;padding:0 0 0 23px;margin:0;font-size:12px/13px Arial;color:#1c1c1c;cursor:pointer;width:auto;height:15px}
.custom-checkbox label{background:url(../../img/backoffice/checkbox.gif) no-repeat}
.custom-radio label{background:url(../../img/backoffice/radiobutton.gif) no-repeat}
.custom-checkbox label.hover,.custom-checkbox label.focus,.custom-radio label.hover,.custom-radio label.focus,.custom-checkbox label,.custom-radio label{background-position:left bottom}
.custom-checkbox label.checked,.custom-radio label.checked,.custom-checkbox label.checkedHover,.custom-checkbox label.checkedFocus{background-position:left top}
.slider{display:block;font:11px/1.0em Arial;color:#9b9b9b}
.slider .ui-slider-horizontal{position:relative;background:url(../../img/backoffice/slider.gif) repeat-x left top;border:1px solid #d4d4d4;margin:5px 0 3px;height:7px}
.slider .ui-slider-horizontal .ui-slider-range{top:0;height:100%}
.slider .ui-slider .ui-slider-range{position:absolute;background:#fff;z-index:1;font-size:11px;display:block;border:0;background-position:0 0}
.slider .ui-slider-horizontal .ui-slider-handle{margin:0 0 0 -1px}
.slider .ui-slider .ui-slider-handle{position:absolute;top:-4px;background:url(../../img/backoffice/slider-btn.gif) no-repeat;outline:0;z-index:2;cursor:default;width:15px;height:15px}
.slider input{display:inline-block;border:0;padding:0;text-align:left;font:11px/1.0em Arial;color:#1c1c1c;width:30px}
.slider input.amount-second{display:inline-block}
.slider.single-vert-slide{position:relative;display:inline-block;margin:0 20px 0 0;width:6px;height:100px}
.ui-slider-vertical{position:relative;background:url(../../img/backoffice/slider-vert.gif) repeat-y left top;border:1px solid #d4d4d4;margin:5px 0 3px;width:6px;height:100px}
.ui-slider-vertical .ui-slider-handle{left:-4px;margin-bottom:-8px}
.slider .ui-slider-vertical .ui-slider-handle{top:auto}
.ui-slider-vertical .ui-slider-range{left:0;width:100%}
.ui-slider-vertical .ui-slider-range-min{bottom:0}
.ui-slider-vertical .ui-slider-range-max{top:0}
input.file{float:left;margin:0 6px 0 0;z-index:99;height:15px}
div.btn-upload{display:inline-block;position:relative;top:-1px;background:url(../../img/backoffice/browse.gif) no-repeat right top transparent}
div.datepicker{width:228px}
input.datepicker{width:64px}
.ui-datepicker{margin:5px 0 0;z-index:200!important;}
.ui-datepicker-calendar{background:#fff;margin:-1px 0 0}
.ui-datepicker-calendar thead{background:url(../../img/backoffice/back-breadcrumbs.gif) repeat-x left top;border-top:0}
.ui-datepicker-calendar thead th{border-top:0}
.ui-datepicker-calendar tbody td{padding:7px 0;text-align:center;width:31px}
.ui-datepicker-header{display:block;background:url(../../img/backoffice/back-title.gif) repeat-x left top;border:1px solid #e5e5e5;border-bottom:0;padding:1px 0 0;height:31px}
.ui-datepicker-header a.ui-datepicker-prev,.ui-datepicker-header a.ui-datepicker-prev:link,.ui-datepicker-header a.ui-datepicker-prev:active,.ui-datepicker-header a.ui-datepicker-prev:visited{float:left;position:relative;background:url(../../img/backoffice/datepicker-arrows.gif) no-repeat left top;border-right:1px solid #e5e5e5;text-indent:-99999px;cursor:pointer;width:31px;height:28px}
.ui-datepicker-header .ui-datepicker-title{text-align:center;font:12px/30px Arial;font-weight:bold}
.ui-datepicker-header a.ui-datepicker-next,.ui-datepicker-header a.ui-datepicker-next:link,.ui-datepicker-header a.ui-datepicker-next:active,.ui-datepicker-header a.ui-datepicker-next:visited{float:right;position:relative;background:url(../../img/backoffice/datepicker-arrows.gif) no-repeat right top;border-left:1px solid #e5e5e5;text-indent:-99999px;cursor:pointer;width:31px;height:28px}
.ui-datepicker-header .ui-datepicker-next span,.ui-datepicker-header .ui-datepicker-prev span{display:none}
.ui-datepicker-header .ui-datepicker-prev:hover,.ui-datepicker-header .ui-datepicker-next:hover{opacity:.45;filter:alpha(opacity=45)}
.ui-datepicker-current-day{background:#f8f8f8}
.ui-datepicker-today{background:#efefef}
.ui-datepicker-calendar a,.ui-datepicker-calendar a:link,.ui-datepicker-calendar a:active,.ui-datepicker-calendar a:visited{text-decoration:none}

.upload_file{width: 70%}
/*#InputSelectFile{height:29px;width:auto;margin-right:15px;float:left;}*/
#InputSelectFile{margin-right:15px;float:left;margin-top: 0;}

/**
 * @see http://cssdeck.com/labs/css-checkbox-styles
 * Custom slide checkbox
 */
.custom_chebox_slide input[type=checkbox] {
	visibility: hidden;
}
.custom_chebox_slide {
	width: 80px;
	height: 30px;
	float: right;
	/*background: #333;
	margin: 20px auto;*/

	/*-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;*/
	position: relative;

	/*-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);*/
}
.custom_chebox_slide:after {
	content: '';
	position: absolute;
	top: 14px;
	left: 14px;
	height: 2px;
	width: 52px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background: #111;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
}
.custom_chebox_slide label {
	margin: 0;
	padding: 0;
	
	display: block;
	width: 22px;
	height: 22px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;

	-webkit-transition: all .4s ease;
	-moz-transition: all .4s ease;
	-o-transition: all .4s ease;
	-ms-transition: all .4s ease;
	transition: all .4s ease;
	cursor: pointer;
	position: absolute;
	top: 4px;
	z-index: 1;
	left: 4px;

	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
	background: #fcfff4;

	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
}
.custom_chebox_slide label:after {
	content: '';
	position: absolute;
	width: 10px;
	height: 10px;

	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	/*background: #333;*/
	background: red;
	left: 6px;
	top: 6px;

	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,1), 0px 1px 0px rgba(255,255,255,0.9);
}
.custom_chebox_slide input[type=checkbox]:checked + label {
	left: 54px;
}
.custom_chebox_slide input[type=checkbox]:checked + label:after {
	background: #00bf00;
}