#left>ul>li{margin-bottom:10px}
#wrapper table:not(.cke_editor) tbody tr:hover td{background-color:#f2f0f0}
#wrapper table:not(.cke_editor) tbody tr:hover td.subtitle{background-color:#959595;color:white;}
#wrapper table.nothing:not(.cke_editor) tbody tr:hover td{background:none;}
#right .box.no_bbottom{border-bottom:0}
#right .box .title.empty h2{background:0;text-indent:0}
#right .box.color_template .title.empty h2{width:100%;text-align:center}
html .cke_skin_kama .cke_styles_panel{width:350px}
html .cke_skin_kama .cke_format_panel{width:250px}
html .cke_skin_kama .cke_font_panel{width:200px}