.label{padding:1px 3px 2px;font-size:9.75px;font-weight:bold;color:#fff;text-transform:uppercase;white-space:nowrap;background-color:#bfbfbf;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;text-shadow:none}
.label.chgstatut{text-indent:-9999px;display:block;width:10px;margin:auto}
.label.important{background-color:#c43c35}
.label.warning{background-color:#f89406}
.label.success{background-color:#46a546}
.label.notice{background-color:#62cffc}
.label.error{background-color:#d00}