.wp-pagenavi{float:right;margin-top:10px}
.wp-pagenavi span,.wp-pagenavi a{height:24px;line-height:24px;width:auto;padding:0 7px;margin:0 3px 6px 0;display:inline;float:left;font-size:13px;text-decoration:none;color:#7a7a7a;border:1px solid #cecece;border-radius:4px}
.wp-pagenavi span,.wp-pagenavi a:not(.select) {text-shadow:1px 1px #fff;box-shadow:inset 0 1px 2px #fff}
.nextpostslink,.prevpostlink{font-size:14px}