html,body{font:12px/19px Arial;color:#1c1c1c}
a,a:link,a:active,a:visited{color:#807f7f;text-decoration:underline}
a.edit_link, a.basic_link{color:black;text-decoration:none}
a:hover{color:#1c1c1c;text-decoration:none}
/*@font-face{font-family:'MyriadProRegular';src:url('./fonts/myriad-regular-webfont.eot');src:url('./fonts/myriad-regular-webfontd41d.eot?#iefix') format('embedded-opentype'),url('./fonts/myriad-regular-webfont.woff') format('woff'),url('./fonts/myriad-regular-webfont.ttf') format('truetype'),url('./fonts/myriad-regular-webfont.svg#MyriadProRegular') format('svg');font-weight:normal;font-style:normal}*/
#right .box .content p{margin:5px 0 20px;padding:0}
#right .box .content p:last-child{margin:5px 0 0}
#right .box .content ul{margin:0;padding:0;list-style:none}
#right .box .content ul li{margin:0;padding:0 0 0 13px;line-height:24px}
#right .box .content ul.arrow li{background:url(../../img/backoffice/list-arrow.gif) no-repeat left 9px}
#right .box .content ul.square li{background:url(../../img/backoffice/list-square.gif) no-repeat left 9px}
#right .box .content ul.plus li{background:url(../../img/backoffice/list-plus.gif) no-repeat left 9px}
#right .box .content ul.tick li{background:url(../../img/backoffice/list-tick.gif) no-repeat left 8px}
#right .box .content pre{background:#fbfbfb;border:1px solid #e5e5e5;padding:0;margin:0;white-space:pre-wrap}
#right .box .content code{display:block;padding:0 0 0 10px;margin:0}
#right .box .content blockquote{border:1px solid #e5e5e5;border-left:4px solid #e5e5e5;padding:10px 15px;margin:15px 0 0 0;font:italic 14px/19px Times New Roman;text-align:center}
/*h1{margin:0;padding:0;font:24px/1.0em 'MyriadProRegular',Arial;font-weight:normal}*/
h1{margin:0;padding:0;font:24px/1.0em;font-weight:normal}
h2{margin:0;padding:0;font:20px/1.0em;font-weight:normal}
h3{margin:0;padding:0;font:18px/1.0em;font-weight:normal}
h4{margin:0;padding:0;font:16px/1.0em;font-weight:normal}
h5{margin:0;padding:0;font:14px/1.0em;font-weight:normal}
h6{margin:0;padding:0;font:13px/1.0em;font-weight:normal}
.error_text{color:#c33820}
.succes_text{color:#62af17}