html,body{margin:0;padding:0;background:url(../../img/backoffice/background.gif) repeat left top #FFF;font:12px/18px Arial;width:100%;}
img{border:0}
/*#wrapper{position:relative;margin:0 auto;max-width:90%;min-width:980px;height:auto!important;height:100%;min-height:100%}*/
/*#left{width:203px}*/
#wrapper{margin-top: 30px;}
.label{padding: 3px;}

/**************/
/*    LEFT    */
/**************/
#left{width:250px;float:left;/*display:none;*/position:fixed;top: 30px;background: white;z-index:1000;left:-250px;border-right: 5px solid black;}
#left span.menu{
	display:block;
	width:20px;
	height:20px;
	background:url(../../img/backoffice/icons/check-none.png) no-repeat 6px 4px black;
	cursor:pointer;
	text-indent:-9999px;
	position:absolute;
	right:-30px;
	top:60px;
	padding:5px;
	border-radius: 0px 5px 5px 0px;
	-moz-border-radius: 0px 5px 5px 0px;
	-webkit-border-radius: 0px 5px 5px 0px;
}
#left h1 a,#left h1 a:link,#left h1 a:active,#left h1 a:visited{color:#000;text-decoration:none}
#left h1 a:hover{color:#727272;text-decoration:none}
#left ul{display:block;margin:0;padding:10px;list-style:none;overflow:auto;}
#left ul li{display:block;font:13px/36px 'MyriadProRegular',Arial;color:#848484;text-transform:uppercase}
#left ul li a,#left ul li a:link,#left ul li a:active,#left ul li a:visited{display:block;/*background:url(../../img/backoffice/back-menu.png) no-repeat left top;*/outline:0;padding:0;color:white;text-decoration:none;height:34px;text-align: center;background: #5A5A5A;font-weight: bold;}
/*#left ul li a:hover{background:url(../../img/backoffice/back-menu.png) no-repeat left bottom}*/
#left ul li.active a,#left ul li.active a:link,#left ul li.active a:active,#left ul li.active a:visited{background:url(../../img/backoffice/back-menu.png) no-repeat left bottom;color:#000}
#left ul ul{display:block;/*background:url(../../img/backoffice/back-right.png) repeat-y right top;border-left:1px solid #e5e5e5;margin:-2px 0 2px 1px;*/padding:0;list-style:none;/*width:199px*/}
#left ul ul ul{margin:0;padding:0;border:0;}
#left ul li li{display:block;background:0;border:1px solid #e5e5e5;/*border-top:1px solid #e5e5e5;*/font:11px/1.0em Arial;color:#848484;text-transform:none;/*width:196px;*/height:auto}
#left ul li li a,#left ul li li a:link,#left ul li li a:active,#left ul li li a:visited{display:block;background:0;padding:9px 3px 9px 10px;color:#848484;text-decoration:none;/*width:183px;*/height:auto;text-align: left;font-weight: normal;}
#left ul li li a.under_section + ul a,
#left ul li li a.under_section:link + ul a,
#left ul li li a.under_section:active + ul a,
#left ul li li a.under_section:visited + ul a{padding-left:20px;}
#left ul ul li a:hover{background:0;background:#f9f9f9}
#left ul ul li.active a,#left ul ul li.active a:link,#left ul ul li.active a:active,#left ul ul li.active a:visited{background:none #f9f9f9;color:#000}
#left ul ul li a.under_section{background-color: #EBEBEB;text-transform: uppercase;font-weight: bold;}
#left #social{display:block;/*margin:13px 20px 0 0;*/padding-left:10px;font-size:11px;text-align:center;color:#949494;}
#left #social .facebook{float: left;}
#left #social .twitter{float: right;width: 100px;}
#left #credits{display:block;font-size:11px;text-align:center;color:#949494;float: left;margin:20px 0 10px;width:100%;height:20px;}

/***************/
/*    RIGHT    */
/***************/
/*#right{position:absolute;top:0;left:200px;background:url(../../img/backoffice/back-right.png) repeat-y right top;border-left:1px solid #e5e5e5;padding:0 3px 0 0;width:79.4%;height:auto!important;height:100%;min-height:100%}*/
#right{/*background:url(../../img/backoffice/back-right.png) repeat-y right top;*/background:white;/*border-left:1px solid #e5e5e5;*/border-bottom:1px solid #e5e5e5;padding:0;/*margin-left: 220px;*/}
/*#right #top-bar{display:block;background:#1c1c1c;height:30px}
#right #top-bar ul{float:right;margin:0;padding:0;list-style:none;width:auto}
#right #top-bar ul li{float:left;position:relative;border-left:1px solid #444;padding:8px 10px 8px;font:11px/14px Arial;color:#cacaca;height:14px;cursor:pointer}
#right #top-bar ul li.browse_website{padding:8px 0 8px 10px;}
#right #top-bar ul li.browse_website + li.noborder {padding:8px 10px 8px 0;}
#right #top-bar ul li.logout{padding: 8px 10px}
#right #top-bar ul li.logout img{padding:0}
#right #top-bar ul li.noborder{border:none}
#right #top-bar ul li.nolink{cursor:default}
#right #top-bar ul li.nolink.center{text-align:center}
#right #top-bar ul li:first-child{border-left:none}
#right #top-bar ul li img{float:left;padding:2px 5px 0 0}
#right #top-bar ul li.browse_website img{padding:0;margin-top:-3px;margin-right: 3px}
#right #top-bar ul li span{position:relative;background:#e00000;padding:2px 4px 2px;margin:0 0 0 3px;font:11px/1.0em Arial;color:#fff;font-weight:bold}
#right #top-bar ul li a,#right #top-bar ul li a:link,#right #top-bar ul li a:active,#right #top-bar ul li a:visited{color:#cacaca;text-decoration:none}
#right #top-bar ul li a:hover{color:#807f7f;text-decoration:none}
#right #top-bar ul ul{position:absolute;top:30px;left:0;border-bottom:1px solid #1c1c1c;display:none;z-index:9999;padding:0;margin:0;list-style:none;left:-130px}
#right #top-bar ul ul.websites{margin-left: 130px;}
#right #top-bar ul ul.websites li{width:100%;padding:0}
#right #top-bar ul ul.websites li a{padding:5px 0 5px 10px}
#right #top-bar ul li:hover ul{display:block}
#right #top-bar ul li li{display:block;background:#1c1c1c;border:0;border-top:1px solid #444;padding:3px 10px;font:11px/18px Arial;color:#cacaca;width:200px;height:auto}
#right #top-bar ul li li a,#right #top-bar ul li li a:link,#right #top-bar ul li li a:active,#right #top-bar ul li li a:visited{display:block;color:#cacaca;text-decoration:none}
#right #top-bar ul li li a:hover{display:block;color:#807f7f;text-decoration:none}
#right #top-bar ul li li b{padding:0;font:11px/18px Arial;font-weight:bold;color:#fff}*/
#right #breadcrumbs{display:block;position:relative;background:url(../../img/backoffice/back-breadcrumbs.gif) repeat-x left top;height:29px}
#right #breadcrumbs ul{margin:0;padding:10px 20px 2px;list-style:none;height:17px}
#right #breadcrumbs ul li{float:left;position:relative;border-left:1px solid #d8d8d8;padding:0 10px 0;font:10px/1.0em;color:#bfbfbf;text-transform:uppercase}
#right #breadcrumbs ul li:first-child{border-left:none;padding:0 10px 0 0}
#right #breadcrumbs ul li a,#right #breadcrumbs ul li a:link,#right #breadcrumbs ul li a:active,#right #breadcrumbs ul li a:visited{color:#bfbfbf;text-decoration:none}
#right #breadcrumbs ul li a:hover,#right #breadcrumbs ul li.active a,#right #breadcrumbs ul li.active a:link,#right #breadcrumbs ul li.active a:active,#right #breadcrumbs ul li.active a:visited{color:#807f7f;text-decoration:none}
#right #breadcrumbs #search{position:absolute;top:1px;right:20px}
#right #breadcrumbs #search input{float:left;border:1px solid #e5e5e5;margin:3px 0 0;padding:2px 19px 1px 4px;font:11px/15px Arial;color:#a9a9a9;width:100px;height:15px}
#right #breadcrumbs #search button{position:relative;background:url(../../img/backoffice/search.png) no-repeat left top;margin:1px 0 0 -15px;width:25px;height:25px}
#right #main{display:block;overflow:hidden;padding:0 20px 20px 0}
#right .section{float:left;width:100%}
#right .section+p.mentions{margin-left:20px;margin-top:20px;float:left;width:100%}
#right .box{display:block;-moz-box-shadow:1px 1px 2px #f7f7f7;-webkit-box-shadow:1px 1px 2px #f7f7f7;box-shadow:1px 1px 2px #f7f7f7;-ms-filter:"progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#f7f7f7')";filter:progid:DXImageTransform.Microsoft.Shadow(Strength=2,Direction=135,Color='#f7f7f7');background:#fff;border:1px solid #e5e5e5;margin:10px 0 0 20px;*zoom:1}
#right .box .box{margin:20px;}
#right .tenth{float:left;width:10%}
#right .quarter{float:left;width:25%}
#right .half{float:left;width:50%}
#right .third{float:left;width:33.33%}
#right .three-quarter{float:left;width:75%}
#right .box .title{display:block;background:url(../../img/backoffice/back-title.gif) repeat-x left top;overflow:hidden;min-height:31px}
#right .box .title h2{float:left;background:url(../../img/backoffice/title-bullit.gif) no-repeat 9px center;margin:0;padding:0;font:15px/2.0em;text-indent:25px;text-transform:uppercase;font-weight:normal;word-spacing:3px;height:29px;line-height:29px;font-size:14px;}
#right .box .title .hide{float:right;background:url(../../img/backoffice/hide.gif) no-repeat left top;overflow:hidden;cursor:pointer;width:32px;height:29px}
#right .box .content{display:block;position:relative;padding:20px;overflow:hidden;}
#right .box .content.nopadding{padding:0}
#right .box .content.gallery{text-align:center;padding:15px 20px 18px 15px}
#right .box .content .thumb{display:inline-block;position:relative;background:#FFF;border:1px solid #e5e5e5;margin:5px 0 0 5px;overflow:hidden;text-align:center;}
#right .box .content .thumb *{filter:alpha(opacity=50);opacity:.50;}
#right .box .content .thumb:hover *{opacity:1;filter:alpha(opacity=100)}
#right .box .content .thumb.active *{opacity:1;filter:alpha(opacity=100)}
/*#right .box .content .thumb .hover{position:absolute;margin:30px 0 0;z-index:999;display:none;width:100%;height:50px}
#right .box .content .thumb:hover .hover{display:block}
#right .box .content .thumb:hover .hover img{border:0;opacity:1.0;filter:alpha(opacity=100) width:23px;height:23px}
#right .box .content .thumb:hover .hover img:hover{opacity:.75;filter:alpha(opacity=75)}*/
#right .box .content .thumb img{border:1px solid #fff;height:80px;}
/*#right .box .content .thumb:hover img{opacity:1;filter:alpha(opacity=100)}*/
#right .box .content .progressbar-normal,#right .box .content .progressbar-count{background:url(../../img/backoffice/progressbar-back.gif) repeat-x left top transparent;border-right:1px solid #ccc;border-left:1px solid #5cadea;margin:10px 0 7px;height:10px}
#right .box .content .progressbar-normal div,#right .box .content .progressbar-count div{display:block;background:url(../../img/backoffice/progressbar.gif) repeat-x left top transparent;border-right:1px solid #5cadea;height:100%}
#right .box .content span.percent{float:right;position:relative;top:-15px;font:11px/1.0em Arial;font-weight:bold}
#right .box .content .icon{padding:10px}
#right  .intern_search .content{display: none;}

/*****************/
/*    TOP BAR    */
/*****************/
#top-bar{display:block;background:#1c1c1c;height:30px;position:fixed;width:100%;top:0;z-index:1000;}
#top-bar ul{float:right;margin:0;padding:0;list-style:none;width:auto}
#top-bar ul li{float:left;position:relative;border-left:1px solid #444;padding:8px 10px 8px;font:11px/14px Arial;color:#cacaca;height:14px;cursor:pointer}
#top-bar ul li.browse_website{padding:8px 0 8px 10px;}
#top-bar ul li.browse_website + li.noborder {padding:8px 10px 8px 0;}
#top-bar ul li.logout{padding: 8px 10px}
#top-bar ul li.logout img{padding:0}
#top-bar ul li.noborder{border:none}
#top-bar ul li.nolink{cursor:default}
#top-bar ul li.nolink.center{text-align:center;border-bottom: 2px solid #444444;}
#top-bar ul li:first-child{border-left:none}
#top-bar ul li img{float:left;padding:2px 5px 0 0}
#top-bar ul li.browse_website img{padding:0;margin-top:-3px;margin-right: 3px}
#top-bar ul li span{position:relative;background:#e00000;padding:2px 4px 2px;margin:0 0 0 3px;font:11px/1.0em Arial;color:#fff;font-weight:bold}
#top-bar ul li a,#right #top-bar ul li a:link,#right #top-bar ul li a:active,#right #top-bar ul li a:visited{color:#cacaca;text-decoration:none}
#top-bar ul li a:hover{color:#807f7f;text-decoration:none}
#top-bar ul ul{position:absolute;top:30px;left:0;border-bottom:1px solid #1c1c1c;display:none;z-index:9999;padding:0;margin:0;list-style:none;left:-135px;background: #1C1C1C;}
#top-bar ul ul.websites{/*left:0*/margin-left: 130px;}
#top-bar ul ul.websites li{width:100%;padding:0}
#top-bar ul ul.websites li a{padding:5px 0 5px 10px}
#top-bar ul li:hover ul{display:block}
#top-bar ul li li{display:block;background:#1c1c1c;border:0;border-top:1px solid #444;padding:3px 10px;font:11px/18px Arial;color:#cacaca;width:220px;height:auto}
#top-bar ul li li a,#right #top-bar ul li li a:link,#right #top-bar ul li li a:active,#right #top-bar ul li li a:visited{display:block;color:#cacaca;text-decoration:none}
#top-bar ul li li a:hover{display:block;color:#807f7f;text-decoration:none}
#top-bar ul li li b{padding:0;font:11px/18px Arial;font-weight:bold;color:#fff}
.ui-widget-overlay{position:absolute;top:0;background:#1c1c1c;opacity:.5;filter:alpha(opacity=50)}

/****************/
/*    LOADER    */
/****************/
.loader {position: absolute;top: 0;left: 0;background: grey;filter:alpha(opacity=50);opacity:.50;z-index: 2;}
.loader span {text-indent:-9999px;display:block;background:url("../../img/backoffice/wait.gif") no-repeat center;width:214px;height:15px;position:fixed;}