#footer_top{width:980px;height:19px;overflow:hidden;background:url(../../../img/layout/koezion/submenu.png) no-repeat 0 -365px transparent}
#footer{width:894px;padding:16px 43px 15px;min-height:30px;overflow:hidden;background:url(../../../img/layout/koezion/footer_mid.png) repeat-y top transparent}
#footer .border_magic{background:#242424;border:1px solid #343434;padding:4px;vertical-align:bottom}
#footer .add_border{border:1px solid #000;margin-bottom:8px}
#footer .widget ul{margin:0;background:url(../../../img/layout/koezion/footer_list.png) repeat-x left bottom transparent;padding:0 0 3px 0}
#footer .widget ul li{list-style:none;background:url(../../../img/layout/koezion/footer_list.png) repeat-x left top transparent;padding:6px 0 4px 0}
#footer .widget ul li a{text-decoration:none;display:block}
#footer_bottom{width:980px;height:20px;padding:26px 0 20px;overflow:hidden;background:url(../../../img/layout/koezion/submenu.png) no-repeat 0 -384px transparent;text-align:center;color:#848484}
#footer_bottom p{font:11px/ 11px Arial,sans-serif}
#footer_bottom a{color:#1e1e1e;text-decoration:none}
#footer .social{margin-top:5px;float:left}
#footer p strong{color:#c6c6c6}
#footer h1,#footer h2,#footer h3,#footer h4,#footer h5,#footer h6{color:#dadada;text-shadow:1px 1px #000}
#footer p{color:#c6c6c6;margin:0 0 1.2em}
#footer li{color:#c6c6c6}
#footer .widget h1,#footer .widget h2,#footer .widget h3,#footer .widget h4,#footer .widget h5,#footer .widget h6{margin-top:0}
#FormNewsletter{height:30px;overflow:hidden}
#footer input{float:left;color:#c6c6c6;background:url(../../../img/layout/koezion/superbutton.png) repeat-x center -121px transparent;text-align:center;padding:6px 10px;border:1px solid #2b2b2b;box-shadow:inset 0 1px 3px #0e0e0e;border-radius:4px;width:135px}
.ie7 #footer input{width:120px}
#footer input:hover,#footer input:focus{background:url(../../../img/layout/koezion/superbutton.png) repeat-x center -151px transparent;border:1px solid #3a3a3a}
#footer input.superbutton{width:auto;margin:0 6px 3px;display:inline;float:left;color:#c6c6c6;background:url(../../../img/layout/koezion/superbutton.png) repeat-x center -61px transparent;text-align:center;height:14px;line-height:18px;padding:6px 15px 8px;border:1px solid #000;box-shadow:inset 0 1px 1px #474747;border-radius:4px}
.ie9 #footer input.superbutton{padding-top:8px;line-height:15px}
#footer input.superbutton:hover{background:url(../../../img/layout/koezion/superbutton.png) repeat-x center -91px transparent}
#footer input[type=submit]{height:30px;outline:0}
.ie7 #footer input[type=submit]{background-color:#000}