/* Thème Responsive */
/* Général */

#footer {
	padding:16px 33px; /* Padding corrigé pour éviter une répartition inégale des widgets */
}

#footer .gs_3 {
	float: right;
}

#logo {
	max-width: 100%;
}

#logo img {
	max-width: 100%;
	height: auto !important;
}

.search {
	position: relative;
	z-index: 997;
}

.container_omega img {
	max-height: 100% !important;
	max-width: 100% !important;
	width: auto;
	height: auto !important;
}

.main {
	margin-bottom: -7px; /* Pour le footer */
}
.stripe {
	margin-top: 13px; /* 7 px de plus pour corriger le footer qui est plus bas */
}

.focus .gs_3 {
	padding: 0;
	margin-bottom: 20px;
}

.focus {
	margin-bottom: -20px;
}

#slider .nivo-caption p,
#sb-slider .sb-description p,
#bxslider .bx-caption p {
	padding: 5px 10px 10px;
}

.sb-description a {
	display: block;
}

.container_alpha.slider,
.container_alpha.slicebox,
#sb-slider.sb-slider {
	width: auto !important;
	max-width: 100%;
}

.add_border.img_zoom {
	border: none;
	margin-bottom: 20px;
}

/* Boutons */
a.superbutton {
  text-decoration: none;
}

.superbutton {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  padding: 4px 12px;
  margin-bottom: 0;
  font-size: 1em;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #cccccc;
  *border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}


.superbutton:hover,
.superbutton:focus {
  text-decoration: none;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.superbutton:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.superbutton.active,
.superbutton:active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.superbutton {
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}

.container_omega > .gs_8:not(.omega) {
	padding-right: 0;
	margin-right: 0;
}

.gs_12.omega {
	max-width: 100%;
}

/* Bouton Scroll To Top */
a.scroll-to-top {
	-moz-border-radius: 50px 50px 0 0;
	-moz-transition: all 0.3s;
	-o-transition: all 0.3s;
	-webkit-border-radius: 50px 50px 0 0;
	-webkit-transition: all 0.3s;
	background: #404040;
	border-radius: 50px 50px 0 0;
	bottom: 0px;
	color: white;
	display: block;
	height: 5px;
	opacity: 0;
	padding: 13px 0 27px;
	position: fixed;
	right: 120px;
	text-align: center;
	text-decoration: none;
	transition: all 0.3s;
	width: 49px;
	z-index: 9999;
}

a.scroll-to-top.visible {
	filter: alpha(opacity=75);
	opacity: 0.75;
}

/* Images portfolio (initialement) et un peu partout */
.add_border.img_zoom {
	max-width: -moz-calc(100% - 12px);
	max-width: -webkit-calc(100% - 12px);
	max-width: -o-calc(100% - 12px);
	max-width: calc(100% - 12px);
}

@media (min-width: 1001px) {
	.header #menu select.selectnav {
		display: none;
	}

	.sidebar {
		float: right;
	}

	.container_omega .gs_3:not(.omega) {
		padding-right: 15px;
	}
}

/* Correction boxslider */
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto {
	position: relative !important;
	bottom: 5px !important;
}
/* Fin correction boxslider */

@media (max-width: 1000px) and (min-width: 571px) {
	.gs_3.omega, 
	.gs_4.omega {
		margin-right: 32px;
	}
}

@media (max-width: 1000px) {
	#footer .gs_3 {
		float: left;
	}

	#footer .gs_4 {
		width: 353px;
		height: auto !important;
	}

	#footer .gs_4 form p {
		margin-bottom: 0px;
	}

	#footer #InputEmail {
		margin-left: 57px;
		position: relative;
	}

	.sidebar {
 		margin: 0 0 0 -34px;
 		float: none !important;
 		padding-top: 12px;
	}

	.bxslider img {
		max-width: 100%;
	}

	.header #menu select.selectnav {
		/* Affichage */
		display: block;
		position: relative;
		margin: 0px 32px 0px;
		width: 60%;
		z-index: 995;

		/* Style - dump du bootstrap.css de la version 2013 de koeZion */
		border: 1px solid #CCC;
		background-color: white;
		height: 30px;
		line-height: 30px;
		padding: 4px 6px;
		margin-bottom: 10px;
		font-size: 14px;
		color: #555;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		border-radius: 4px;
		vertical-align: middle;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		cursor: pointer;
	}

	.header #menu #mainMenu {
		display: none;
	}

	.inner_main .bottom_sidebar_mask {
		margin-bottom: 20px;
	}

	#menu .search{
		display: block;
		float: right;
		margin: -40px 32px 0px !important;
	}

	.focus .gs_3 {
		margin:0 13px 30px;
	}

	.focus_line {
		width: 680px;
		margin: auto;
	}

	.gs_4 {
		max-width: 100%;
	}

	.container_omega > p {
		clear: left;
	}

	.gs_8 {
		max-width: 100%;
		width: 100%
	}

	h1.e404 {
		width: 100%;
		margin: -30px 0 0;
		float: none;
		text-align: center;
		line-height: normal;
	}
}

@media (max-width: 970px) { 
	/* Base */
	a.scroll-to-top.visible {
		display: none;
	}
	
	.container_omega.focus {
		padding-right: 19px;
		padding-left: 19px;
	}
}

@media (max-width: 840px) {
	.nivo-caption h3.widgettitle,
	.sb-description h3.widgettitle,
	.bx-caption h3.widgettitle {
		padding-top: 15px;
	}
}

@media (max-width: 755px) {
	.bx-caption,
	.nivo-caption,
	.sb-description {
		position: relative !important;
		width: 100% !important;
		opacity: 0.9 !important;
		-moz-opacity: 0.9 !important;
		filter: alpha(opacity=9) !important;
		padding: 16px 10px !important;
		width: 100%
	}
	
	.sb-description {
		width: -moz-calc(100% - 20px) !important;
		width: -webkit-calc(100% - 20px) !important;
		width: -o-calc(100% - 20px) !important;
		width: calc(100% - 20px) !important;
	}

	.nivo-caption h3,
	.sb-description h3,
	.bx-caption h3 {
		padding-top: 0px !important;
	}

	.header #menu select.selectnav {
		width: 50%;
	}

	.focus_line {
		width: 452px;
	}
}

@media (max-width: 630px) {
	.inner_main input[type="text"],
	.inner_main textarea {
		width: -moz-calc(100% - 22px);
		width: -webkit-calc(100% - 22px);
		width: -o-calc(100% - 22px);
		width: calc(100% - 22px);
	}

	#formulaire {
		overflow: visible;
	}
}

@media (max-width: 570px) {
	.header #menu select.selectnav {
		width: 40%;
	}

	.gs_3 {
		margin: 0px auto 30px auto;
		padding: 50px 17px 0 0;
		float: none;
	}

	.focus_line .gs_3 {
		margin: 0px 13px 30px;
		padding: 0;
		float: left;
	}

	.add_border.img_zoom .border_magic {
		margin: auto;
	}
}

@media (max-width: 520px) {	
	.focus_line {
		width: auto;
	}

	.focus .gs_3 {
		width: 100%;
		margin-right: 0;
		padding-right: 0;
		height:auto;	
		
	}

	.focus_line .gs_3 {
		margin: 0px auto 30px auto !important;
		padding: 50px 17px 0 0;
		float: none;
	}
}

@media (max-width: 500px) {	
	#menu .search {
		margin: 16px auto !important;
		float: none;
	}

	.inner_main .container_gamma.breadcrumbs {
		padding: 40px 20px 9px;
	}

	.header #menu select.selectnav {
		margin: 0 auto;
	}

	.header #menu select.selectnav {
		width: 75%;
	}

	/* Diminution du padding */
	.container_gamma,
	.container_omega,
	#footer {
		padding-left: 20px;
		padding-right: 20px;
	}

	#footer .gs_3,
	#footer .gs_4,
	#footer .gs_5 {
		max-width: 410px !important;
	}

	.container_alpha.slider,
	.container_alpha.slicebox {
		padding: 45px 18px 5px !important;
	}

	.sidebar {
		margin: 0 0 0 -22px;
	}
}

@media (max-width: 400px) {
	#footer input[type=text] {
		width: 90%;
	}

	#footer input[type=submit] {
		margin: 5px 15px -20px 10px;
		width: 90%;
	}

	#footer #InputEmail{
		margin-left: 0px;
	}

	#footer .gs_4 form p {
		margin-bottom: 16px;
	}

	/* Diminution du padding */
	.container_gamma,
	.container_omega {
		padding-left: 10px;
		padding-right: 10px !important;
	}

	#footer .gs_3,
	#footer .gs_4,
	#footer .gs_5 {
		max-width: 410px !important;
	}

	.sidebar {
		margin: 0 0 0 -12px;
	}
}

@media (max-width: 350px) {
	.sidebar {
		position: relative;
		max-width: 120%;
		width: 120%;
		margin: 0px 0px 0px -20px;
	}

	.sidebar, .inner_main .widget {
		overflow: visible;
	}
}

@media (max-width: 701px) {
	#footer .gs_3, #footer .gs_4, #footer .gs_5 {
		padding: 0px;
		margin: 0 auto 0 auto;
		max-width: 410px;
		width: auto;
		height: auto !important;
		float: none;
		background : none !important;
	}

	/* Marge de 32px au dessus de chaque widget */
	#footer .gs_3, #footer .gs_4 {
		margin-top: 32px !important;
	}
}