/* Boutons */
<<<<<<< HEAD
.superbutton {
	color: #ffffff !important;
	text-shadow: 1px 1px #374936;
=======
.btn {
	color: #ffffff !important;
	text-shadow: 1px 1px #374936;
}

.btnPrimary {
>>>>>>> Commit MAI
	background-color: #40533f;
	background-image: -moz-linear-gradient(top, #597458, #40533f);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#597458), to(#40533f));
	background-image: -webkit-linear-gradient(top, #597458, #40533f);
	background-image: -o-linear-gradient(top, #597458, #40533f);
	background-image: linear-gradient(to bottom, #597458, #40533f);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff597458', endColorstr='#ff40533f', GradientType=0);
	border-color: #40533f !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

<<<<<<< HEAD
.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
=======
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary.active,
.btnPrimary.disabled,
.btnPrimary[disabled] {
>>>>>>> Commit MAI
	background-color: #40533f;
	*background-color: #40533f;
}

<<<<<<< HEAD
.superbutton:active,
.superbutton.active {
=======
.btnPrimary:active,
.btnPrimary.active {
>>>>>>> Commit MAI
	background-color: #3a4b39;
}