/* Boutons */
.superbutton {
	color: #FFFFFF !important;
	text-shadow: 1px 1px #3d3638;
	background-color: #43363b;
	background-image: -moz-linear-gradient(top, #624f57, #43363b);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#624f57), to(#43363b));
	background-image: -webkit-linear-gradient(top, #624f57, #43363b);
	background-image: -o-linear-gradient(top, #624f57, #43363b);
	background-image: linear-gradient(to bottom, #624f57, #43363b);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff624f57', endColorstr='#ff43363b', GradientType=0);
	border-color: #43363b !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
	background-color: #43363b;
	*background-color: #43363b;
}

.superbutton:active,
.superbutton.active {
	background-color: #43363b;
}