a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#8c8085}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#8c8085}
blockquote,q{border-color:#8c8085}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#8c8085}
/*a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -301px transparent;border:1px solid #43363b;box-shadow:inset 0 1px 1px #8c8085;text-shadow: 1px 1px #3d3638}*/
/*a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -330px transparent}*/
::-moz-selection{background:#8c8085;color:#fff;text-shadow:none}
::selection{background:#8c8085;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#8c8085}
#ethernatable.catalogues tr.title th{background-color:#8c8085;}
#ethernatable.catalogues.coup_coeur tr {border-color:#8c8085;}
#ethernatable.catalogues.recherche tr {border-color:#8c8085;}