/* Boutons */
<<<<<<< HEAD
.superbutton {
	color: #FFFFFF !important;
	text-shadow: 1px 1px #3d3638;
=======
.btn {
	color: #FFFFFF !important;
	text-shadow: 1px 1px #3d3638;
}

.btnPrimary {
>>>>>>> Commit MAI
	background-color: #4a413e;
	background-image: -moz-linear-gradient(top, #6c5f5b, #4a413e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#6c5f5b), to(#4a413e));
	background-image: -webkit-linear-gradient(top, #6c5f5b, #4a413e);
	background-image: -o-linear-gradient(top, #6c5f5b, #4a413e);
	background-image: linear-gradient(to bottom, #6c5f5b, #4a413e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6c5f5b', endColorstr='#ff4a413e', GradientType=0);
	border-color: #4a413e !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

<<<<<<< HEAD
.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
=======
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary.active,
.btnPrimary.disabled,
.btnPrimary[disabled] {
>>>>>>> Commit MAI
	background-color: #4a413e;
	*background-color: #595959;
}

<<<<<<< HEAD
.superbutton:active,
.superbutton.active {
=======
.btnPrimary:active,
.btnPrimary.active {
>>>>>>> Commit MAI
	background-color: #4a413e;
}