/* Boutons */
.superbutton {
	color: #ffffff !important;
	text-shadow: 1px 1px #90a850;
	background-color: #90a850;
	background-image: -moz-linear-gradient(top, #cddb82, #90a850);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cddb82), to(#90a850));
	background-image: -webkit-linear-gradient(top, #cddb82, #90a850);
	background-image: -o-linear-gradient(top, #cddb82, #90a850);
	background-image: linear-gradient(to bottom, #cddb82, #90a850);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffcddb82', endColorstr='#ff90a850', GradientType=0);
	border-color: #90a850 !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
	background-color: #90a850;
	*background-color: #90a850;
}

.superbutton:active,
.superbutton.active {
	background-color: #88a049;
}