/* Boutons */
.superbutton {
	color: #ffffff !important;
	text-shadow: 1px 1px #a35eaf;
	background-color: #a35eaf;
	background-image: -moz-linear-gradient(top, #da93e0, #a35eaf);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#da93e0), to(#a35eaf));
	background-image: -webkit-linear-gradient(top, #da93e0, #a35eaf);
	background-image: -o-linear-gradient(top, #da93e0, #a35eaf);
	background-image: linear-gradient(to bottom, #da93e0, #a35eaf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffda93e0', endColorstr='#ffa35eaf', GradientType=0);
	border-color: #a35eaf !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
	background-color: #a35eaf;
	*background-color: #a35eaf;
}

.superbutton:active,
.superbutton.active {
	background-color: #9759a2;
}