#wrapper{width:852px;min-width:852px;max-width:852px}
#left{width:200px}
#left ul{padding-top:0}
#left ul li.active a:hover{background:url(../../img/backoffice/back-menu.png) no-repeat left bottom}
#left ul li a:hover{background:url(../../img/backoffice/back-menu.png) no-repeat left top}
#right{width:650px}
#right .content .row .rowright{margin-right:0;width:354px}
#right .content .row .rowright+.error{margin-top:10px}
#right .content.nopadding>.system.succes{margin:20px}
#right .content.nopadding>.system.error{margin:20px}
#right .content.nopadding>.system.warning{margin:20px}
.styled-select select{background:transparent;width:400px;padding:5px;border:1px solid #ccc;height:30px}
.styled-select{width:368px;height:30px;overflow:hidden;background:url(../../img/install/down_arrow_select.jpg) no-repeat right}
#ethernatable{border-spacing:0;background:transparent;border-collapse:collapse;margin:20px}
#ethernatable td{vertical-align:baseline}
#ethernatable th.tablecol,#ethernatable td.tableid,#ethernatable td.even,#ethernatable td.odd{text-align:center;background-color:#e4e4e4;border-color:#cfcfcf;border-style:solid;border-width:1px 1px 0}
#ethernatable td.even{background-color:#efefef}
#ethernatable td.odd{background-color:#f6f6f6}
#ethernatable th h6{font-size:15px;margin-top:13px;padding-bottom:6px}
#ethernatable td h6{margin:0;font-size:15px}
#ethernatable .tableid{padding:10px 0;width:180px}
#ethernatable td{width:160px}
#ethernatable td.first{border-top:1px solid #cfcfcf}
#ethernatable td.last{border-bottom:1px solid #cfcfcf}