a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#9a1616}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#9a1616}
blockquote,q{border-color:#9a1616}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#9a1616}
/*a.superbutton,.inner_main input.superbutton{color:#dfdfdf;background:url(../../../../../templates/koezion/img/superbutton.png) repeat-x center -61px transparent;border:1px solid #000;box-shadow:inset 0 1px 1px #474747;text-shadow: 1px 1px #000}*/
/*a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../templates/koezion/img/superbutton.png) repeat-x center -91px transparent}*/
::-moz-selection{background:#9a1616;color:#fff;text-shadow:none}
::selection{background:#9a1616;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#9a1616}
#ethernatable.catalogues tr.title th{background-color:#9a1616;}
#ethernatable.catalogues.coup_coeur tr {border-color:#9a1616;}
#ethernatable.catalogues.recherche tr {border-color:#9a1616;}