/* Boutons */
<<<<<<< HEAD
.superbutton {
	color: #ffffff !important;
	text-shadow: 1px 1px #40665e;
=======
.btn {
	color: #ffffff !important;
	text-shadow: 1px 1px #40665e;
}

.btnPrimary {
>>>>>>> Commit MAI
	background-color: #40665e;
	background-image: -moz-linear-gradient(top, #5e9589, #40665e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5e9589), to(#40665e));
	background-image: -webkit-linear-gradient(top, #5e9589, #40665e);
	background-image: -o-linear-gradient(top, #5e9589, #40665e);
	background-image: linear-gradient(to bottom, #5e9589, #40665e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e9589', endColorstr='#ff40665e', GradientType=0);
	border-color: #40665e !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

<<<<<<< HEAD
.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
=======
.btnPrimary:hover,
.btnPrimary:focus,
.btnPrimary:active,
.btnPrimary.active,
.btnPrimary.disabled,
.btnPrimary[disabled] {
>>>>>>> Commit MAI
	background-color: #40665e;
	*background-color: #40665e;
}

<<<<<<< HEAD
.superbutton:active,
.superbutton.active {
=======
.btnPrimary:active,
.btnPrimary.active {
>>>>>>> Commit MAI
	background-color: #365a53;
}