#menu{width:980px;height:39px;padding:10px 0 0;margin:0 auto 0;display:block;position:relative;background:url(../../img/frontoffice/menu_background.png) no-repeat scroll 0 0 transparent;z-index:996;zoom:1}
#menu ul{height:28px;margin:1px 0 0 17px;position:relative;float:left;text-shadow:1px 1px #fff;z-index:997;zoom:1}
.ie6 #menu ul{margin-left:11px}
#menu ul li{height:15px;padding:0 8px 14px 5px;margin:0;background:url(../../img/frontoffice/menu_separator.png) repeat-y top right transparent;font:15px/ 15px Arial,sans-serif;display:inline;float:left;position:relative;z-index:998;zoom:1}
.ie6 #menu ul li{padding-bottom:0}
#menu ul li a{text-decoration:none;color:#777;font:15px/ 15px Arial,sans-serif;letter-spacing:.3px;display:block;float:left;padding:8px 6px 11px;zoom:1}
#menu ul li a.menu_selected_bg{background:url(../../img/frontoffice/menu_box.png) no-repeat center 2px transparent;color:#1e1e1e}
#menu ul li a.menu_box_mid_bg{background:url(../../img/frontoffice/menu_box.png) no-repeat center 2px transparent}
#menu ul li a.menu_box_mid_bg_has_li{background:url(../../img/frontoffice/menu_box.png) no-repeat center -32px transparent}
span.menu_box_left{width:3px;height:32px;display:inline;float:left}
span.menu_box_left_bg{background:url(../../img/frontoffice/menu_box.png) no-repeat 0 2px transparent}
span.menu_box_right{width:3px;height:32px;display:inline;float:left}
span.menu_box_right_bg{background:url(../../img/frontoffice/menu_box.png) no-repeat -297px 2px transparent}
#menu ul li:hover ul li a,#menu ul li ul li:hover ul li a{color:#777}
#menu ul li.selected a,#menu ul li:hover a,#menu ul li ul li ul li:hover a{color:#1e1e1e}
#menu ul li ul{position:absolute;width:200px;height:auto;left:-9999px;background:transparent;padding-top:14px;z-index:999;zoom:1}
#menu ul li ul{display:none;left:-15px;top:29px}
#menu ul li ul li ul{display:none;left:188px;top:-15px}
#menu ul li ul li{clear:left;width:200px;height:auto;padding:0;background:transparent;display:block;background:url(../../img/frontoffice/submenu.png) no-repeat 0 -154px transparent}
#menu ul li ul li:hover{background:url(../../img/frontoffice/submenu.png) no-repeat -200px -107px transparent}
#menu ul li ul li.first_sub{background:url(../../img/frontoffice/submenu.png) no-repeat 0 0 transparent}
#menu ul li ul li.first_sub:hover{background:url(../../img/frontoffice/submenu.png) no-repeat -200px 0 transparent}
#menu ul li ul li.last_sub{background:url(../../img/frontoffice/submenu.png) no-repeat 0 -342px transparent;height:3px}
#menu ul li ul li.last_sub:hover{background:url(../../img/frontoffice/submenu.png) no-repeat -200px -342px transparent;height:3px}
#menu ul li ul li a{font-size:13px;padding:14px 14px 11px;display:block;width:169px;background:0;color:#777}
#menu ul li ul li a span{font-size:15px;float:right}
#menu ul li ul li:hover a{background:0;color:#1e1e1e}
.ie6 #menu ul li ul li a:hover{background:0}
.ie6 #menu ul li a:hover{color:#1e1e1e}