.pricing{margin:24px 0 10px 0;float:left;border-left:1px solid #e8e9eb;border-right:1px solid #fff}
.pricing_column{display:inline;float:left;background:url(../../img/frontoffice/pricing_column.png) repeat-x top right transparent;border-left:1px solid #fff;border-right:1px solid #e8e9eb}
.pricing_index{display:inline;float:left;border-right:1px solid #e8e9eb}
.pricing_column:hover{cursor:pointer;background-color:#edeff0}
.pricing_blurb{width:144px;height:141px;position:relative;background:url(../../img/frontoffice/pricing_blurb.png) no-repeat center top transparent}
.pricing_blurb.red{background:url(../../img/frontoffice/pricing_blurb_red.png) no-repeat center top transparent}
.pricing_blurb.green{background:url(../../img/frontoffice/pricing_blurb_green.png) no-repeat center top transparent}
.pricing_blurb.blue{background:url(../../img/frontoffice/pricing_blurb_blue.png) no-repeat center top transparent}
.pricing_blurb.yellow{background:url(../../img/frontoffice/pricing_blurb_yellow.png) no-repeat center top transparent}
.pricing_noblurb{width:144px;height:141px;margin:-8px 16px 10px 16px;position:relative}
.pricing_column:hover .pricing_blurb{background-position:center -299px}
.pricing_blurb h3{text-align:center;color:#fff;text-shadow:1px 1px #000;font:16px/ 26px 'customFontBold',Arial,sans-serif;padding:6px 0 0 0;margin:0}
.pricing_blurb h2{text-align:center;color:#fff;text-shadow:1px 2px 3px #b24824;font:37px/ 50px Arial,sans-serif;font-weight:bold;padding:21px 0 0 0;margin:0}
.pricing_blurb.red h2{text-shadow:1px 2px 3px #8b2020}
.pricing_blurb.green h2{text-shadow:1px 2px 3px #a3a710}
.pricing_blurb.blue h2{text-shadow:1px 2px 3px #087eb8}
.pricing_blurb.yellow h2{text-shadow:1px 2px 3px #daba32}
.pricing_noblurb h1{margin:0;text-align:center;padding:12px 0 0 0}
.pricing_column p,.pricing_index p{padding:10px 10px;text-align:center;margin:0 0 -3px}
.specs{background:url(../../img/frontoffice/pricing_spec_separator.png) repeat-x bottom left transparent;min-height:42px}
.specs img{margin:0 2px -2px 0}
.specs p{text-align:center;margin:1px 0 0 0;font-weight:bold;min-height:20px}
.buyme{padding:6px 0 6px 0;overflow:hidden;background:url(../../img/frontoffice/spec_buyme.png) repeat-x top left transparent}
.buyme p a.superbutton{display:inline;float:none;padding:5px 13px}