table{border-spacing:0;background:transparent;border-collapse:collapse}
#ethernatable td{vertical-align:baseline}
#ethernatable th.tablecol,#ethernatable td.tableid,#ethernatable td.even,#ethernatable td.odd{text-align:center;background-color:#e4e4e4;border-color:#cfcfcf;border-style:solid;border-width:1px 1px 0}
#ethernatable td.even{background-color:#efefef}
#ethernatable td.odd{background-color:#f6f6f6}
#ethernatable th h6{font-size:15px;margin-top:13px;padding-bottom:6px}
#ethernatable td h6{margin:0;font-size:15px}
#ethernatable .tableid{padding:10px 0;width:180px}
#ethernatable td{width:160px}
#ethernatable td.first{border-top:1px solid #cfcfcf}
#ethernatable td.last{border-bottom:1px solid #cfcfcf}
#ethernatable.simple tr{padding: 3px;}
#ethernatable.simple td{width: auto;}
#ethernatable.simple {width: 100%;}