a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#9696dd}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#9696dd}
blockquote,q{border-color:#9696dd}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#9696dd}
a.superbutton,.inner_main input.superbutton{color:#7a7a7a;background:url(../../../../img/frontoffice/superbutton.png) repeat-x center -181px transparent;border:1px solid #cecece;box-shadow:inset 0 1px 2px #fff;text-shadow:1px 1px #fff}
a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../img/frontoffice/superbutton.png) repeat-x center -211px transparent}
::-moz-selection{background:#9696dd;color:#fff;text-shadow:none}
::selection{background:#9696dd;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#9696dd}
#ethernatable.catalogues tr.title th{background-color:#9696dd;}
#ethernatable.catalogues.coup_coeur tr {border-color:#9696dd;}
#ethernatable.catalogues.recherche tr {border-color:#9696dd;}