a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#ba91de}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#ba91de}
blockquote,q{border-color:#ba91de}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#ba91de}
<<<<<<< HEAD
/*a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -481px transparent;border:1px solid #352d42;box-shadow:inset 0 1px 1px #776890;text-shadow: 1px 1px #352d42}*/
/*a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -510px transparent}*/
=======
a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -481px transparent;border:1px solid #352d42;box-shadow:inset 0 1px 1px #776890;text-shadow: 1px 1px #352d42}
a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -510px transparent}
>>>>>>> Commit MAI
::-moz-selection{background:#ba91de;color:#fff;text-shadow:none}
::selection{background:#ba91de;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#ba91de}
#ethernatable.catalogues tr.title th{background-color:#ba91de;}
#ethernatable.catalogues.coup_coeur tr {border-color:#ba91de;}
#ethernatable.catalogues.recherche tr {border-color:#ba91de;}