/* Boutons */
.superbutton {
	color: #ffffff !important;
	text-shadow: 1px 1px #d4ae00;
	background-color: #edc72e;
	background-image: -moz-linear-gradient(top, #ffe932, #edc72e);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffe932), to(#edc72e));
	background-image: -webkit-linear-gradient(top, #ffe932, #edc72e);
	background-image: -o-linear-gradient(top, #ffe932, #edc72e);
	background-image: linear-gradient(to bottom, #ffe932, #edc72e);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffe932', endColorstr='#ffedc72e', GradientType=0);
	border-color: #edc72e !important;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}

.superbutton:hover,
.superbutton:focus,
.superbutton.disabled,
.superbutton[disabled] {
	background-color: #edc72e;
	*background-color: #edc72e;
}

.superbutton:active,
.superbutton.active {
	background-color: #e0bb28;
}