a,a:active,a:visited,#main_link_color,#personal_data p span,#personal_data p span a{color:#f0d137}
a:hover{color:#1e1e1e}
#footer a:hover{color:#fff}
h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong,.dropcapcolor,.inner_main .widget ul.testimonials li p span,.post_header a:hover,.breadcrumbs p span,h1 span,h2 span,h3 span,h4 span,h5 span,h6 span,.hotstuff ul li a{color:#f0d137}
blockquote,q{border-color:#f0d137}
.post_header a{text-decoration:none;color:#1e1e1e}
.dropcapspot{background-color:#f0d137}
a.superbutton,.inner_main input.superbutton{color:#fff;background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -1381px transparent;border:1px solid #edc72e;box-shadow:inset 0 1px 1px #fff49c;text-shadow:1px 1px #d4ae00}
a.superbutton:hover,.inner_main input.superbutton:hover,a.superbutton.selected{background:url(../../../../../img/layout/koezion/superbutton.png) repeat-x center -1410px transparent}
::-moz-selection{background:#f0d137;color:#fff;text-shadow:none}
::selection{background:#f0d137;color:#fff;text-shadow:none}
a:link{-webkit-tap-highlight-color:#f0d137}
#ethernatable.catalogues tr.title th{background-color:#f0d137;}
#ethernatable.catalogues.coup_coeur tr {border-color:#f0d137;}
#ethernatable.catalogues.recherche tr {border-color:#f0d137;}